.css-button {
	cursor:pointer;
	display:inline-block;
	margin:0 0.25em;
	padding:10px 15px;
	min-height:15px;
	font-size:1.2rem;
	font-weight:bold;
	text-decoration:none;
	border-radius:3px;
	border-width:1px;
	border-style:solid;
	box-shadow:inset 0 1px 0 #fff;
	z-index:1;
	text-decoration:none;
}

.css-button:hover {
	text-decoration:none;
}

.css-button:active {
}


.css-button.slim {
	padding:5px 10px;
}


* > .css-button:first-of-type {
	margin-left:0 !important;
}

* > .css-button:last-of-type {
	margin-right:0 !important;
}


/* ORANGE */
.css-button.orange {
	color:#664e20;
	text-shadow:1px 1px 0 #ffe992;
	border-color:#d99000;
	background:#ffe0a4; /* Old browsers */
	background:-moz-linear-gradient(top,  #ffe0a4 0%, #ffaa02 100%); /* FF3.6+ */
	background:-webkit-linear-gradient(top,  #ffe0a4 0%,#ffaa02 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #ffe0a4 0%,#ffaa02 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #ffe0a4 0%,#ffaa02 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #ffe0a4 0%,#ffaa02 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe0a4', endColorstr='#ffaa02',GradientType=0 ); /* IE6-9 */
}

.css-button.orange:hover {
	background:#fff0d2; /* Old browsers */
	background:-moz-linear-gradient(top,  #fff0d2 0%, #ffaa02 100%); /* FF3.6+ */
	background:-webkit-linear-gradient(top,  #fff0d2 0%,#ffaa02 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #fff0d2 0%,#ffaa02 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #fff0d2 0%,#ffaa02 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #fff0d2 0%,#ffaa02 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0d2', endColorstr='#ffaa02',GradientType=0 ); /* IE6-9 */
}