html {
	font-size:62.5%;
	background:#f9f9f9;
}

body {
	font-family:'Helvetica Neue', 'Hiragino Kaku Gothic Pro', arial, sans-serif;
	font-size:1.4rem;
	padding:15px 0;
	color:#333;
	overflow-y:scroll;
}

a {
	display:inline-block;
	cursor:pointer;
	color:#006cff;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight:bold;
	font-size:2rem;
	margin:0 0 15px;
}

h2 {
	font-size:inherit;
}

ul,
p {
	padding:0 0 15px;
	line-height:175%;
}

.strong { 
	font-weight:bold; 
}

.center {
	text-align:center;
}

.light {
	color:#999;
}

.error {
	color:#ff3333;
}



input[type="text"],
input[type="username"],
input[type="password"],
input[type="email"],
textarea,
select {
	padding:8px;
	font-family:inherit;
	font-size:inherit;
	border:1px #ccc solid;
	border-radius:3px;
	box-shadow:inset 2px 2px 5px #eee;
	resize:none;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}

button {
	padding:10px 8px;
	font-family:inherit;
	font-size:inherit;
}

textarea {
	line-height:175%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right:10px;
}




.container {
	margin:0 auto 0;
}


.padder {
	padding:10px;
}

.page {
	border-radius:5px;
	margin:0 0 15px;
	border:1px #ccc solid;
	box-shadow:0 3px 0 #ddd;
	background:#fff;
	overflow:hidden;
}


.container 	{ 
	width:100%;
	max-width:800px; 
}

.logo {
	text-align:center;
	margin:0 0 30px 15px;
}

.logo img {
	width:100%;
	max-width:337px;
}


.loading {
	padding:30px;
	display:none;
	border-top:1px #ddd solid;
}

.chrome-load {
	background:center center url(/static/img/chromelogo.png) no-repeat;
	width:75px;
	height:75px;
	margin:0 auto;
	opacity:0.5;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s;
	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 2s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 2s; 
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

.question {
	padding:30px 30px 15px;
}

.question .number {
	float:right;
	margin:3px 5px 0 30px;
	color:#999;
}

.question .q {
	font-size:1.7rem;
	font-style:italic;
}

.question ul {}

.question ul li {
	line-height:175%;
	margin:0 0 10px;
}


.answers {
	padding:30px 30px 15px;
	border-top:1px #ddd solid;
}

.answers input[type="submit"] {
	display:none;
}


.answer,
.googles-answer {
	display:none;
	padding:30px;
}

.answer.correct {
	color:#007235;
	background:#a2ffaf;
}

.answer.wrong {
	color:#723d00;
	background:#ffb5a2;
}



.share-results {
	display:none;
	padding:30px 30px 15px;
	text-align:center;
	border-top:1px #ddd solid;
}

.share-results > div {
	display:none;
}


.scores {
	padding:30px;
	border-top:1px #ddd solid;
}

.you,
.google {
	float:left;
	width:50%;
	text-align:center;
}


.scores .identifier {
	margin:0 0 10px;
	font-weight:bold;
}

.scores .score .correct {
	color:green;
}

.scores .score .wrong {
	color:red;
}




@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}